<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/create_gaps.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaps</title>
</head>
<body>
    <h1>Gaps created</h1>
    <div class="main-container">
        {% for day in week %}
            <div class="column-2">
                {% for gap in day %}
                    <div class="row-2">
                        {% comment %} <input type="checkbox" name='indexes' id={{ semigap.index }} value={{ semigap.index }}> {% endcomment %}
                        <label for={{ gap.index }}>{{ gap }}</label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}        
    </div>
</body>
</html>