{% extends 'base.html' %}
{% block title %}Gaps{% endblock %}


{% block content %}

    <h1>Availible time slots</h1>
    <div class="main-container">
        <form action="" method='POST' id='gap_index' class='form'>
            {% csrf_token %}
            {% for daily_gaps in all_gaps %}
                <div class="column">
                    {% for gap in daily_gaps %}
                        <div class="row">
                            <input type="submit" name="index" id="{{ gap.index }}" value="{{ gap.index }}">
                            <label for="{{ gap.index }}">{{ gap }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>  
    </div>
{% endblock %}

