* {
    font-family: serif;
}

h1 {
    color: rgb(30, 82, 82);
    font-size: 22px;
}

.row, .row-2 {
    display: block;
}

.column, .column-2 {
    display: inline-block;
}

.main-container {
    background-color: #f3f3f3;
    padding: 10px;
}

.column input {
    display: none;
}

/* .column label, .column-2 label {
    -webkit-box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    -moz-box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    background-color: rgb(255, 255, 255);
    display: block; 
    margin-top: 3.5px;   
    margin-bottom: 3.5px;
    margin-right: 1px;
    margin-left: 1px;
    width: 100px;
    height: 23px;  
    border-radius: 14px;
    text-align: center;
    padding-top: 6px; 
    
} */

.column label, .column-2 label {
    -webkit-box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    -moz-box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 6px 15px;
    width: 100px;
    height: 30px;
    border-radius: 14px;
    align-items: center;
    justify-content: center;

}

.column label:hover {
    background-color: rgb(183, 209, 199);
}

.column input[type='checkbox']:checked + label {
    background-color: #f3f3f3;
    -webkit-box-shadow: 12px 11px 4px -10px #f3f3f3;
    -moz-box-shadow: 12px 11px 4px -10px #f3f3f3;
    box-shadow: 12px 11px 4px -10px #f3f3f3;
}
